@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    background-image: url(../storage/img/background.png);
    margin-top: 43px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    height: 766px;
    width: 349px;
}

.header_inicio{
    height: 231px;
    width: 387px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.div_button_noti{
    width: 352px;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.img_menu{
    width: 22px;
    height: 22px;
}

.img_noti{
    width: 34px;
    height: 34px;
}

.section_header h1{
    width: 256px;
    height: 72px;
}

.nav_search{
    width: 346px;
    height: 85px;
}

.div_search{
    width: 346px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.div_searchlupa{
    width: 200px;
    height: 17px;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.img_filter{
    width: 15px;
    height: 15px;
    margin-left: 115px;
    margin-top: 13px;
}

.div_searchlupa p{
    width: 130px;
    height: 15px;
    display: flex;
    margin-left: 15px;
    font-family: "Inter_28pt-Regular";
    font-size: 12px;
}

.div_carrusel{
    width: 391px;
    height: 28px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
    top: 16px;
    font-family: "Inter_28pt-Regular";

    & > .carrusel_option {
        width: 112px;
        height: 28px;
        display: flex;
        flex: 1;
        flex-grow: 1;
        min-width: 30%;
        margin: 0 5px;
        align-items: center;
        justify-content: space-around;
        border-radius: 8px;
      }
}

.carrusel_option p {
    font-size: 12px;
}

.carrusel_option:nth-child(1) {background-color: #EDE9FF;}

.carrusel_option:nth-child(2) {
    background-color: #FFF5D7;
    width: px;
}
.carrusel_option:nth-child(3) {background-color: #FFECEC;}

.carrusel_option:nth-child(4) {background-color: #E4FFEA;}

.carrusel_option:nth-child(5) {background-color: #B3D8A8;}