@font-face {
    font-family: "Inter_28pt-SemiBold";
    src: url(../storage/font/Inter_28pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(../storage/font/Inter_18pt-Regular.ttf);
}