<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styledetail.css">
    <title>Detail</title>
</head>
<body>
    <div class="div_options">
        <img onclick="window.location.href='../index.html'" class="img_arrowback" src="../storage/img/arrowback.png">
        <img class="img_blackpoints" src="../storage/img/blackpoints.png">
    </div>
    <img class="img_kudaiconcert" src="../storage/img/kudaiconcierto.jpg">
    <section class="infoconcertbox">
        <div class="div_inoconcert">
            <h1>Kudai Re-vuelo</h1>
            <div class="div_infolocation">
                <img src="../storage/img/locationgray.png">
                <p>Gelora Bung Karno Stadium..</p>
            </div>
            <div class="div_infocalendario">
                <img src="../storage/img/calendergray.png">
                <p>November 15 2023</p>
            </div>
        </div>
        <div class="div_infogroup">
            <img src="../storage/img/pictures.png">
            <p>50K+ Participants</p>
        </div>
    </section>
    <section class="section_bigtext">
        <h1>Description</h1>
        <p class="p_bigtext">Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, 
            finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa.
            Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis 
            in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet.<label for="read_more">Read More..</label></p>
            <input type="put_it" id="read_more">
            <label class="modal-overlay" for="read_more"></label>
    </section>
    <section class="section_gps">
        <h1>Venue & Location</h1>
        <div class="div_map">
            <img class="img_map" src="../storage/img/map.png">
        </div>
    </section>
    <footer class="footer_buy">
        <div class="div_concertval">
            <p>Start from</p>
            <h1>IDR1.100.000</h1>
        </div>
        <div class="div_concertbuy">
            <button>
                <a href="views/ticket.html">
                     Buy Ticket
                </a>
            </button>
        </div>
    </footer>
</body>
</html>