<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styledetail.css">
    <title>Detail</title>
</head>
<body>
    <div class="div_options">
        <img class="img_arrowback" src="../storage/img/arrowback.png">
        <img class="img_blackpoints" src="../storage/img/blackpoints.png">
    </div>
    <img class="img_kudaiconcert" src="../storage/img/kudaiconcierto.jpg">
    <section class="infoconcertbox">
        <div class="div_inoconcert">
            <h1>Kudai Re-vuelo</h1>
            <div class="div_infolocation">
                <img src="../storage/img/locationgray.png">
                <p>Movistar Arena - Colombia</p>
            </div>
            <div class="div_infocalendario">
                <img src="../storage/img/calendergray.png">
                <p>October 02 2025</p>
            </div>
        </div>
        <div class="div_infogroup">
            <img src="../storage/img/pictures.png">
            <p>50K+ Participants</p>
        </div>
    </section>
</body>
</html>