<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleticket.css">
    <title>Tickets</title>
</head>
<body>
    <div class="div_background"></div>
    <div class="div_menu">
        <img onclick="window.location.href='../views/detail.html'" class="arrowback2" src="../storage/img/arrowback2.png">
        <img class="whitepoints" src="../storage/img/whitepoints.png">
    </div>
    <div class="carrusel3">
        <div class="carrusel_info">
            <img class="img_ticket" src="../storage/img/ticket.png">
            <div class="div_info">
                <img class="img_boleta" src="../storage/img/kudaiboleta.jpg">
                <div class="div_concertinfo3">
                    <div class="div_name">
                        <h1>Kudai Re-vuelo</h1>
                        <div class="div_concertinf">
                           <p class="p_concert">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                           <hr class="hr_line">
                        </div>
                    </div>
                    <div class="div_infoexact">
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Time</p>
                                <h1>9:00 pm</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img_codebarras" src="../storage/img/codebarras.png">
                <p class="p_textbottom">Scan your barcode at the entry gate.</p>
            </div>
        </div>
        <div class="carrusel_info">
            <img class="img_ticket" src="../storage/img/ticket.png">
            <div class="div_info">
                <img class="img_boleta" src="../storage/img/kudaiboleta.jpg">
                <div class="div_concertinfo3">
                    <div class="div_name">
                        <h1>Kudai Re-vuelo</h1>
                        <div class="div_concertinf">
                            <p class="p_concert">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            <hr class="hr_line">
                        </div>
                    </div>
                    <div class="div_infoexact">
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Time</p>
                                <h1>9:00 pm</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img_codebarras" src="../storage/img/codebarras.png">
                <p class="p_textbottom">Scan your barcode at the entry gate.</p>
            </div>
        </div>
        <div class="carrusel_info">
            <img class="img_ticket" src="../storage/img/ticket.png">
            <div class="div_info">
                <img class="img_boleta" src="../storage/img/kudaiboleta.jpg">
                <div class="div_concertinfo3">
                    <div class="div_name">
                        <h1>Kudai Re-vuelo</h1>
                        <div class="div_concertinf">
                            <p class="p_concert">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            <hr class="hr_line">
                        </div>
                    </div>
                    <div class="div_infoexact">
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Time</p>
                                <h1>9:00 pm</h1>
                            </div>
                        </div>
                        <div class="div_infogeneral">
                            <div class="div_infoname">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div_infonumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img_codebarras" src="../storage/img/codebarras.png">
                <p class="p_textbottom">Scan your barcode at the entry gate.</p>
            </div>
        </div>
    </div>
</body>
</html>